<!DOCTYPE html>
<html>
<head>
  <title>DForumsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- displays login|signup /logout -->
  <% if current_user %>
       Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
        | <%= link_to "Users", '/users'%>
        | <%= link_to "Edit Profile", "/users/#{current_user.id}/edit"%>
     <% else %>
       <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
     <% end %>
 ​

<%= yield %>

</body>
</html>
